:root {
  --container-width: 71.5625rem;
  --container-wide: 106.25rem;
  --gap: 2rem;
  --main-accent: #14518a;
  --main-yellow: #FFEFCE;
  --body-color: var(--main-accent);
  --text-white: #FAF8F4;
  --main-bg: #ffffff;
  --gradient-main: linear-gradient(180deg, #20BAB6 0%, #7964AA 100%);
  --gradient-white: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  --font-heading: "Forum", Arial, sans-serif;
  --shevron-menu-right: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3e%3cpath fill='%2314518a' d='m17.5 36.5-7 7a12 12 0 0 0 0 17L205.9 256 10.5 451.5a12 12 0 0 0 0 17l7 7a12 12 0 0 0 17 0l211-211a12 12 0 0 0 0-17l-211-211a12 12 0 0 0-17 0z'/%3e%3c/svg%3e");
}

@media screen and (min-width: 1024px) and (max-width: 1370px) {
  :root {
    --gap: 2.25rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 1023px) {
  :root {
    --gap: 1.5rem;
  }
}
@media screen and (max-width: 719px) {
  :root {
    --gap: 1.25rem;
  }
}
* {
  box-sizing: border-box;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  scroll-behavior: smooth;
}
*::before, *::after {
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}

svg {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans"), url("../fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Open Sans Bold"), url("../fonts/NotoSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  @font-face;
  font-family: "Noto Sans";
  src: local("Open Sans Light"), url("../fonts/NotoSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Open Sans Italic"), url("../fonts/NotoSans-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: local("Open Sans BoldItalic"), url("../fonts/NotoSans-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--gap);
}
.container--wide {
  max-width: var(--container-wide);
}
.container--full {
  max-width: 100vw;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  cursor: hand;
}
.slick-slider {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: table;
  content: "";
  display: table;
  content: "";
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  position: absolute;
  top: calc(50% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 3.75rem;
  height: 3.75rem;
  border: none;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
  z-index: 1010;
  overflow: hidden;
  transition: 0.2s border;
}
.slick-arrow.slick-disabled {
  opacity: 0.3;
  pointer-events: none;
  outline: none;
}
.slick-arrow path, .slick-arrow circle {
  transition: 0.2s all;
}
.slick-arrow:hover, .slick-arrow:focus {
  border-color: var(--text-gray);
}
.slick-arrow:hover path:first-child, .slick-arrow:focus path:first-child {
  stroke: #000;
}
.slick-arrow:hover path:last-child, .slick-arrow:focus path:last-child {
  fill: #000;
}
.slick-arrow:hover circle, .slick-arrow:focus circle {
  stroke: var(--main-green);
}
.slick-arrow.slick-next {
  right: -1.5625rem;
}
.slick-arrow.slick-next svg {
  transform: scaleX(-1);
}
.slick-arrow.slick-prev {
  left: -1.5625rem;
}

.slick-dots {
  position: absolute;
  bottom: 1.875rem;
  left: 50%;
  display: inline-flex;
  max-width: 100%;
  list-style: none;
  font-size: 0;
  transform: translateX(-50%);
}
.slick-dots li {
  margin: 0 0.3125rem;
  flex: 0 0 0.5rem;
}
.slick-dots button {
  padding: 0;
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
  border: 0.0625rem solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  transition: 0.2s background-color;
  cursor: pointer;
}
.slick-dots button:hover, .slick-dots button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}
.slick-dots .slick-active button {
  background-color: rgba(255, 255, 255, 0.9);
}

.slick-track {
  display: flex;
}

.slick-track .slick-slide {
  display: flex;
  height: auto;
}

.slick-slide > div {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
  font-size: 0.8125rem;
  line-height: 1.2;
  font-family: "Noto Sans", Roboto, sans-serif;
  color: var(--body-color);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  align-self: start;
}

footer {
  align-self: end;
}

main {
  width: 100%;
  overflow: hidden;
}

.main-accent {
  background: var(--main-accent);
  color: var(--text-white);
}
.main-accent .lined-heading::first-line {
  background-color: var(--main-accent);
}
.main-accent .lined-heading::before, .main-accent .lined-heading::after {
  background-color: currentColor;
}

h1, .h1, h2, .h2 {
  font-family: "Forum", Arial, serif;
  font-weight: 400;
  line-height: 1;
}

h1, .h1 {
  line-height: 1.2;
  text-transform: uppercase;
}
@media screen and (min-width: 1300px) {
  h1, .h1 {
    font-size: 3.125rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1299px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 799px) {
  h1, .h1 {
    font-size: 1.875rem;
  }
}

h2, .h2 {
  line-height: 1.2;
  text-transform: uppercase;
}
@media screen and (min-width: 800px) {
  h2, .h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 799px) {
  h2, .h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
  }
}

h3, .h3 {
  line-height: 1.2;
  font-weight: 300;
}
@media screen and (min-width: 800px) {
  h3, .h3 {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 799px) {
  h3, .h3 {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    font-size: 1.375rem;
  }
}

h4, .h4 {
  line-height: 1.2;
}
@media screen and (min-width: 800px) {
  h4, .h4 {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 799px) {
  h4, .h4 {
    font-size: 1.125rem;
  }
}

p, ul, ol, blockquote {
  margin: 0 0 1.25rem;
}
p:last-child, ul:last-child, ol:last-child, blockquote:last-child {
  margin-bottom: 0;
}

section, h2 {
  scroll-margin-top: 7.9375rem;
}
@media screen and (max-width: 1023px) {
  section, h2 {
    scroll-margin-top: 3.1875rem;
  }
}

.text-accent {
  color: var(--main-accent);
}

.text-center {
  text-align: center;
}

.lined-heading {
  position: relative;
  line-height: 1.1;
  z-index: 1;
}
.lined-heading::first-line {
  background-color: #ffffff;
  padding-right: 10rem;
}
.lined-heading::before, .lined-heading::after {
  content: "";
  position: absolute;
  background-color: var(--main-accent);
  width: 100vw;
  height: 0.0625rem;
  z-index: -1;
}
@media screen and (min-width: 1024px) {
  .lined-heading::before {
    top: 1.8125rem;
    left: 0.625rem;
  }
}
@media screen and (max-width: 1023px) {
  .lined-heading::before {
    top: 0.9375rem;
    left: 0.625rem;
  }
}
@media screen and (min-width: 1024px) {
  .lined-heading::after {
    top: calc(100% + 1.675rem);
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1023px) {
  .lined-heading::after {
    top: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);
  }
}
.lined-heading--center {
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
}
.lined-heading--center::first-line {
  background-color: transparent !important;
}
@media screen and (min-width: 1024px) {
  .lined-heading--center::before {
    left: calc(50% + 15rem);
  }
}
@media screen and (max-width: 1023px) {
  .lined-heading--center::before {
    left: calc(50% + 10rem);
  }
}
@media screen and (min-width: 1024px) {
  .lined-heading--center::after {
    left: auto;
    right: calc(50% + 15rem);
    transform: none;
  }
}

.icon-list li {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  margin: 0 0 2.5rem 0;
  letter-spacing: -0.025em;
}
.icon-list li::before {
  content: "";
  align-self: flex-start;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex: 0 0 3.5rem;
  aspect-ratio: 1/1;
}
.icon-list li:nth-child(6n+1)::before {
  background-image: var(--icon-list1);
}
.icon-list li:nth-child(6n+2)::before {
  background-image: var(--icon-list2);
}
.icon-list li:nth-child(6n+3)::before {
  background-image: var(--icon-list3);
}
.icon-list li:nth-child(6n+4)::before {
  background-image: var(--icon-list2);
}
.icon-list li:nth-child(6n+5)::before {
  background-image: var(--icon-list1);
}
.icon-list li:nth-child(6n+6)::before {
  background-image: var(--icon-list3);
}

a {
  transition: 0.2s color;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

[data-src] {
  cursor: pointer;
}

.overlay {
  position: absolute;
}
.overlay::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: rgba(13, 18, 24, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 3;
  transition: 0.4s transform;
}
.overlay--none::after {
  transform: translateX(-100%);
}

.stopscroll {
  overflow-y: hidden;
}
@media screen and (pointer: fine) {
  .stopscroll {
    padding-right: 1.0625rem;
  }
}

.locked {
  position: relative;
  display: block;
}
.locked::before {
  content: "";
  display: block;
  padding-top: 50%;
}
.locked__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  width: 2.5rem;
  max-width: 100%;
  border-radius: 0.25rem;
  background-color: transparent;
  align-self: center;
  cursor: pointer;
  z-index: 1100;
}
.menu-toggle::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.menu-toggle__line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 0.1875rem;
  background-color: var(--add-blue);
}
.menu-toggle__line::before, .menu-toggle__line::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  right: 0;
  width: 100%;
  transition: 0.2s all;
}
.menu-toggle__line::before {
  top: calc(100% + 0.3125rem);
  background-color: var(--add-blue);
}
.menu-toggle__line::after {
  bottom: calc(100% + 0.3125rem);
  background-color: var(--add-blue);
}
.menu-toggle--open .menu-toggle__line {
  background-color: transparent;
}
.menu-toggle--open .menu-toggle__line::before {
  top: 0;
  transform: rotate(45deg);
}
.menu-toggle--open .menu-toggle__line::after {
  width: 100%;
  bottom: 0;
  transform: rotate(-45deg);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -9999px;
  overflow: hidden;
}

.popup-video {
  position: relative;
  display: block;
}
.popup-video img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.popup-video::after, .popup-video::before {
  content: "";
  background-size: 5.4375rem 5.4375rem;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s opacity, 0.2s background;
}
.popup-video::before {
  position: relative;
  display: block;
  padding-top: 60.8%;
  background-image: var(--play-hover);
  z-index: 2;
}
.popup-video::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--play);
  z-index: 3;
}
.popup-video:hover:after {
  opacity: 0;
}

@media (max-width: 649px) {
  .popup-video::after, .popup-video::before {
    background-size: 2.6875rem 2.6875rem;
  }
}
.pswp iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100vh;
}

.socials {
  display: flex;
  margin: 0 -0.6875rem;
}
.socials__item {
  position: relative;
  margin: 0 0.6875rem;
  flex: 0 0 3.125rem;
  height: 3.125rem;
  overflow: hidden;
}
.socials__item path {
  transition: 0.2s fill;
}
.socials__item linearGradient stop {
  transition: 0.2s all;
}
.socials__item:not(:hover) linearGradient stop {
  stop-color: #ffffff;
}

.gray {
  position: relative;
  z-index: 1;
}
.gray::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #F9F9F9;
  border-radius: 0.625rem;
  z-index: -1;
}
@media screen and (min-width: 1485px) {
  .gray::before {
    left: -2.7125rem;
    right: -2.7125rem;
  }
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid transparent;
  border-radius: 0.125rem;
  box-shadow: none;
  padding: 0.25rem 0.625rem;
  min-height: 2.5rem;
  min-width: 12.5rem;
  max-width: 100%;
  font-family: inherit;
  line-height: 1.2;
  text-align: center;
  color: var(--text-white);
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--main-accent);
  text-decoration: none;
}
.btn:hover {
  color: var(--main-yellow);
}
.btn--transparent {
  background-color: transparent;
  border-color: var(--text-main);
}
.btn--transparent:hover {
  border-color: var(--main-yellow);
  color: var(--main-yellow);
}
.btn--white {
  background-color: var(--text-white);
  color: var(--main-accent);
}
.btn--white:hover {
  color: var(--main-accent);
  background-color: var(--main-yellow);
}

.btn-wrap--center {
  text-align: center;
}

input[type=text], input[type=email], input[type=tel], input[type=number], input[type=password] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-bottom: 0.125rem solid currentColor;
  background-color: transparent;
  width: 100%;
  color: inherit;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.1;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=password]:focus {
  outline: none;
}
@media screen and (min-width: 800px) {
  input[type=text], input[type=email], input[type=tel], input[type=number], input[type=password] {
    margin: 0.75rem 0 1.5rem;
    padding: 0.5rem 0rem;
  }
}
@media screen and (max-width: 799px) {
  input[type=text], input[type=email], input[type=tel], input[type=number], input[type=password] {
    margin: 0.75rem 0 1.125rem;
    padding: 0.5rem 0rem;
  }
}

textarea {
  display: block;
  border: none;
  border-bottom: 0.125rem solid currentColor;
  width: 100%;
  color: inherit;
  text-align: left;
}
textarea:focus {
  outline: none;
}
@media screen and (min-width: 800px) {
  textarea {
    margin: 0.75rem 0 1.5rem;
    padding: 0.5rem 0rem;
    height: 7.25rem;
  }
}
@media screen and (max-width: 799px) {
  textarea {
    margin: 0.75rem 0 1.125rem;
    padding: 0.5rem 0rem;
    height: 7.25rem;
  }
}

::-moz-placeholder {
  color: var(--border-color);
  -moz-transition: 0.2s color;
  transition: 0.2s color;
}

::placeholder {
  color: var(--border-color);
  transition: 0.2s color;
}

.files {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-white);
}
.files--center {
  align-items: center;
}
.files input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
}
.files__label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 2.4375rem;
  height: 1.5rem;
  background-image: var(--folder);
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  background-position: 100% 50%;
  text-decoration: underline;
  cursor: pointer;
}
.files__label:hover {
  text-decoration: none;
}
.files__item {
  position: relative;
  display: none;
  margin-bottom: 0.625rem;
}
.files__item--show {
  display: inline-block;
}
.files__item--filed {
  align-self: flex-start;
}
.files__item--filed label {
  background-image: none;
  pointer-events: none;
  text-decoration: none;
}
.files__item--filed label::after {
  content: attr(data-added);
  display: inline-block;
  margin-left: 3.0625rem;
  padding-right: 1.625rem;
  background-image: var(--check-gr);
  background-size: 1.5rem 1.5rem;
  background-position: 100% center;
  background-repeat: no-repeat;
}
.files__item-name {
  max-width: 11.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.files__btn {
  left: 0;
}
.files__del {
  position: absolute;
  display: none;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% - 11.4rem);
  font-size: 0;
  cursor: pointer;
}
.files__del::before, .files__del::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.125rem;
  width: 80%;
  background-color: #9C0D0D;
}
.files__del::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.files__del::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.files__del:hover::before, .files__del:hover::after {
  outline: 0.03125rem solid #9C0D0D;
}
@media screen and (min-width: 100px) {
  .files__del {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.wpcf7-form-control-wrap {
  display: block;
}

.wpcf7 label {
  font-weight: 300;
}
.sbm-label-small {
  font-size: 1rem;
}

.wpcf7-radio {
  position: relative;
}
.wpcf7-radio .wpcf7-list-item {
  position: relative;
  display: block;
  padding-left: 2.375rem;
}
@media screen and (min-width: 700px) {
  .wpcf7-radio .wpcf7-list-item {
    font-size: 1.5rem;
  }
}
.wpcf7-radio .wpcf7-list-item-label::before, .wpcf7-radio .wpcf7-list-item-label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0.8125rem;
  left: 0.75rem;
  transform: translate(-50%, -50%);
}
.wpcf7-radio .wpcf7-list-item-label::before {
  border: 0.125rem solid currentColor;
  width: 1.5625rem;
  height: 1.5625rem;
}
.wpcf7-radio .wpcf7-list-item-label::after {
  background-color: currentColor;
  width: 0.8125rem;
  height: 0.8125rem;
  transition: 0.2s opacity;
  opacity: 0;
}
.wpcf7-radio input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.wpcf7-radio input:checked ~ .wpcf7-list-item-label::after {
  opacity: 1;
}
.wpcf7-acceptance .wpcf7-list-item-label {
  display: block;
  position: relative;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.3333333333;
  transition: 0.2s outline;
}
.wpcf7-acceptance .wpcf7-list-item-label::before, .wpcf7-acceptance .wpcf7-list-item-label::after {
  content: "";
  position: absolute;
  top: 0.4375rem;
  left: 0.6875rem;
  transform: translate(-50%, -50%);
  color: inherit;
}
.wpcf7-acceptance .wpcf7-list-item-label::before {
  border: 0.0625rem solid currentColor;
  width: 1.1875rem;
  height: 1.1875rem;
}
.wpcf7-acceptance .wpcf7-list-item-label::after {
  background-color: currentColor;
  width: 0.8125rem;
  height: 0.8125rem;
  transition: 0.2s opacity;
  opacity: 0;
}
.wpcf7-acceptance input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.wpcf7-acceptance input:checked ~ .wpcf7-list-item-label::after {
  opacity: 1;
}
@media (min-width: 10px) {
  .wpcf7-acceptance .wpcf7-list-item-label {
    padding-left: 2.1875rem;
  }
}
.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.2s top;
  border-top: 0.1875rem solid transparent;
  color: #ffffff;
  transition: 0.2s background, 0.2s border;
}
.site-header--sticky {
  position: -webkit-sticky;
  position: sticky;
}
.site-header--scroll {
  background-color: #fff;
  border-top-color: #14518a;
  color: #666;
}
.site-header--black {
  color: #333;
}
@media screen and (max-width: 699px) {
  .site-header--scroll [class*=search-vis-] {
    transform: scaleY(0);
  }
}
@media screen and (pointer: fine) {
  .site-header--pr {
    padding-right: 1.0625rem;
  }
}
@media screen and (max-width: 699px) {
  .site-header {
    margin-bottom: 3.5rem;
  }
}
.site-header__inner {
  display: grid;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .site-header__inner {
    grid-template-columns: -webkit-max-content 15rem 4rem 15rem -webkit-max-content;
    grid-template-columns: max-content 15rem 4rem 15rem max-content;
    grid-auto-flow: dense;
    padding: 0.75rem 0;
    min-height: 3.375rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 1023px) {
  .site-header__inner {
    grid-template-columns: -webkit-max-content 15rem 3.5rem 15rem -webkit-max-content;
    grid-template-columns: max-content 15rem 3.5rem 15rem max-content;
    grid-auto-flow: dense;
    padding: 0.75rem 0;
    min-height: 3.375rem;
  }
}
@media screen and (max-width: 699px) {
  .site-header__inner {
    grid-template-columns: -webkit-max-content 3.5rem -webkit-max-content;
    grid-template-columns: max-content 3.5rem max-content;
    grid-auto-flow: dense;
    padding: 0.75rem 0;
    min-height: 3.375rem;
  }
}
.site-header__toggle-menu {
  position: relative;
  justify-self: start;
  width: 1.875rem;
  height: 1.875rem;
  padding: 0.875rem 0.5rem 0.875rem 0.1875rem;
  background: currentColor;
  background-clip: content-box;
  border: none;
  box-shadow: none;
  z-index: 5;
  transition: 0.2s background-color;
  color: inherit;
  transition: 0.2s all;
  cursor: pointer;
}
.site-header__toggle-menu::before, .site-header__toggle-menu::after {
  content: "";
  position: absolute;
  right: 0.1875rem;
  width: 1.5rem;
  top: 50%;
  height: 0.125rem;
  background-color: currentColor;
  transition: 0.2s transform;
}
.site-header__toggle-menu::before {
  transform: translateY(calc(-50% - 0.6rem));
}
.site-header__toggle-menu::after {
  transform: translateY(calc(-50% + 0.55rem));
}
.site-header__toggle-menu--close {
  background-color: transparent;
}
.site-header__toggle-menu--close::before {
  transform: rotate(45deg);
}
.site-header__toggle-menu--close::after {
  transform: rotate(-45deg);
}
.site-header__toggle-menu--inner {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: start;
  align-self: center;
}
.site-header__humb-inner {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 50% 50%;
  grid-template-rows: var(--header-h, -webkit-min-content) -webkit-min-content 1fr;
  grid-template-rows: var(--header-h, min-content) min-content 1fr;
  align-content: start;
  padding: 0 var(--gap);
  height: 100vh;
  width: 100vw;
  transform: translateX(-100%);
  border-top: 0.1875rem solid #fff;
  transition: 0.4s transform;
  z-index: 5;
  background: #fff;
  color: #656565;
  overflow: hidden;
}
.site-header__humb-inner--open {
  transform: translateX(0%);
}
.site-header__humb-inner::before, .site-header__humb-inner::after {
  content: "";
  background: #e0e0e0;
}
.site-header__humb-inner::before {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin: 0 calc(-1 * var(--gap));
  height: 0.0625rem;
}
.site-header__humb-inner::after {
  width: 0.0625rem;
  grid-column: 2/-1;
  grid-row: 2/5;
}
.site-header__logo {
  display: block;
}
@media screen and (min-width: 700px) {
  .site-header__logo {
    grid-column: 3/4;
  }
}
@media screen and (min-width: 700px) {
  .site-header__langs {
    grid-column: -1/-2;
  }
}
.site-header__search-vis {
  display: flex;
  justify-content: flex-end;
  height: 2.5rem;
}
@media screen and (min-width: 700px) {
  .site-header__search-vis {
    grid-column: -2/-3;
  }
}
@media screen and (max-width: 699px) {
  .site-header__search-vis {
    height: 0px;
    grid-row: 2/3;
    grid-column: 1/-1;
    transform: translateY(1rem);
  }
}
.site-header__search-vis-query {
  border: 0.0625rem solid currentColor;
  border-right: none;
  color: inherit;
  background-color: transparent;
}
@media screen and (max-width: 699px) {
  .site-header__search-vis-query {
    flex: 1;
    height: 2.5rem;
    transition: 0.4s transform;
    transform-origin: 50% 0;
  }
}
.site-header__search-vis-btn {
  flex: 0 0 2.5rem;
  border: 0.0625rem solid currentColor;
  border-left: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}
.site-header__search-vis-btn path {
  transition: 0.4s fill;
}
.site-header__search-vis-btn:hover path, .site-header__search-vis-btn:focus-visible path {
  fill: var(--main-accent);
}
@media screen and (max-width: 699px) {
  .site-header__search-vis-btn {
    height: 2.5rem;
    transition: 0.4s transform;
    transform-origin: 50% 0;
  }
}
.site-header__search {
  margin: 0 var(--gap) var(--gap) 0;
}
.site-header__search-form {
  display: grid;
}
.site-header__search-input {
  border: 0.0625rem solid #e0e0e0;
  padding: 0.375rem 0.625rem;
  line-height: 1.1875rem;
}
.site-header__search-btn {
  border: none;
  background-color: #626365;
  padding: 0.25rem;
  height: 1.875rem;
  font-size: 0;
  cursor: pointer;
}
.site-header__search-btn svg {
  height: 100%;
}
.site-header__search-btn path {
  transition: 0.4s fill;
}
.site-header__search-btn:hover path {
  fill: var(--main-accent);
}
@media screen and (max-width: 699px) {
  .site-header__search {
    grid-column: 1/-1;
    margin-right: 0;
  }
}

.logo {
  display: block;
  font-family: var(--font-heading);
}
.logo__img {
  -o-object-fit: contain;
     object-fit: contain;
}

.langs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.langs__item {
  padding: 0 0.3125rem;
  text-decoration: none;
}
.langs__item:hover {
  text-decoration: underline;
}
.langs__divider {
  width: 0.0625rem;
  height: 0.5rem;
  background: #e7eaec;
}

.menu, .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  margin: 0;
  padding: 0;
}

.top-nav .menu {
  position: relative;
}
.top-nav .menu .sub-menu {
  position: absolute;
}
.top-nav .menu .sub-menu .sub-menu {
  top: 100%;
  padding: 0.625rem 0 0.625rem 0.9375rem;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: 0.4s transform;
}
.top-nav .menu .sub-menu .sub-menu--open {
  transform: scaleY(1);
}
.top-nav .menu .sub-menu .sub-menu a {
  padding: 0.5rem 0;
}
.top-nav .menu .sub-menu .menu-item-has-children {
  position: relative;
  transition: 0.4s margin;
}
.top-nav .menu .sub-menu .menu-item-has-children::after {
  transform: rotate(90deg);
}
.top-nav .menu .sub-menu .menu-item-has-children:hover:after {
  transform: rotate(90deg) scale(1.2);
}
.top-nav .menu > .menu-item > .sub-menu {
  top: 0;
  left: calc(100% + var(--gap));
  width: calc(100% - var(--gap));
  transform: translateX(120%);
}
.top-nav .menu > .menu-item > .sub-menu--open {
  transition: 0.4s transform;
  transform: translateX(0);
}
.top-nav .menu > .menu-item > .sub-menu > .menu-item {
  border-top: 0.0625rem solid #e0e0e0;
  border-bottom: 0.0625rem solid #e0e0e0;
  margin-top: -0.0625rem;
}
.top-nav .menu .menu-item-has-children {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.top-nav .menu .menu-item-has-children::after {
  content: "";
  margin-right: var(--gap);
  width: 0.5rem;
  height: 1rem;
  background-image: var(--shevron-menu-right);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.375rem 0.75rem;
  transition: 0.2s all;
}
.top-nav .menu .menu-item-has-children.active > a {
  color: var(--main-accent);
}
.top-nav .menu .menu-item-has-children:hover::after {
  transform: scale(1.2);
}
.top-nav .menu .menu-item-has-children:hover > a {
  color: var(--main-accent);
}
.top-nav .menu .menu-item-has-children > a {
  pointer-events: none;
}
.top-nav .menu a {
  display: block;
  padding: 0.8125rem 0;
  text-decoration: none;
}
.top-nav .menu a:hover {
  text-decoration: underline;
}

.site-footer {
  background-color: #f5f5f5;
}
.site-footer__inner {
  display: grid;
  justify-content: center;
  padding: 1rem 0;
}
.site-footer__link {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 699px) {
  .site-footer__link {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 700px) {
  .site-footer__link-text {
    flex: 0 0 18.75rem;
    text-align: right;
  }
}
.site-footer__link-list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 700px) {
  .site-footer__link-list {
    flex: 0 0 17.25rem;
    margin-left: 1.5rem;
    text-align: left;
  }
}
.site-footer__link-list a {
  margin-bottom: 1.25rem;
}
.site-footer__copy {
  text-align: center;
}

.footer-social__inner {
  padding: 1rem 0 0;
  text-align: center;
  font-size: 0;
}
.footer-social__item {
  display: inline-flex;
  align-items: center;
  margin: 0 0.75rem 1rem;
  width: 2rem;
  height: 2rem;
}
.footer-social__item path {
  transition: 0.4s fill;
}
.footer-social__item:hover path {
  fill: #333;
}

/*DEV*/
.dev {
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logo name";
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  align-items: center;
  color: var(--body-color);
  text-decoration: none;
  transition: 0.2s color;
  font-weight: 300;
}
.dev__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  display: block;
}
.dev__name {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: name;
  display: block;
  font-size: 0.75rem;
  line-height: 1.25;
}
.dev:hover {
  color: #cbcfd2;
}

@media (max-width: 649px) {
  .dev__name {
    font-size: 0.625rem;
  }
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.modal__container {
  position: relative;
  background-color: #fff;
  padding: 1.875rem;
  max-width: 31.25rem;
  max-height: 100vh;
  border-radius: 0.625rem;
  overflow-y: auto;
  box-sizing: border-box;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}
.modal__close {
  position: absolute;
  right: 1.2rem;
  top: 1.05rem;
  padding: 0.5rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 2;
}
.modal__close svg {
  pointer-events: none;
  width: 1.625rem;
  height: 1.625rem;
}
.modal__close path {
  transition: 0.2s fill;
}
.modal__close:hover, .modal__close:focus {
  outline: none;
}
.modal__close:hover path, .modal__close:focus path {
  fill: var(--border-yellow);
}
.modal__content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}
.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.modal__btn:focus, .modal__btn:hover {
  transform: scale(1.05);
}
.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}
.modal__footer {
  margin-top: 0;
}

@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}
.micromodal-slide.is-open {
  display: block;
}
.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.modal__overlay {
  background: rgba(13, 18, 24, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.modal__close path, .modal__close rect, .modal__close circle {
  transition: 0.2s fill;
}
.modal__close:hover path, .modal__close:hover rect, .modal__close:hover circle {
  fill: var(--main-accent);
}
.modal__content {
  color: inherit;
}

.video-popup .modal__container {
  background-color: transparent;
  padding: 0;
  max-width: 100vw;
  width: 103.3125rem;
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
}
.video-popup .modal__content {
  margin: 0;
  width: 100%;
}
.video-popup video {
  max-width: 100vw;
  max-height: 100vh;
}

.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  touch-action: none;
  z-index: 11000;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: none;
}
.pswp * {
  box-sizing: border-box;
}
.pswp img {
  max-width: none;
}

.pswp--animate_opacity {
  opacity: 0.001;
  will-change: opacity;
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--open {
  display: block;
}

.pswp--zoom-allowed .pswp__img {
  cursor: zoom-in;
}

.pswp--zoomed-in .pswp__img {
  cursor: -webkit-grab;
  cursor: grab;
}

.pswp--dragging .pswp__img {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: opacity;
}

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pswp__container, .pswp__zoom-wrap {
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pswp__container, .pswp__img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  transform-origin: left top;
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp__bg {
  will-change: opacity;
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--animated-in .pswp__bg, .pswp--animated-in .pswp__zoom-wrap {
  transition: none;
}

.pswp__container, .pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
}

.pswp__img--placeholder {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.pswp__img--placeholder--blank {
  background: #222;
}

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0;
}

.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC;
}
.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline;
}

.block-content {
  line-height: 1.3;
  font-size: 0.875rem;
}
.block-content > * {
  max-width: var(--container-width);
  margin: calc(var(--gap)) auto;
  padding-left: var(--gap);
  padding-right: var(--gap);
}
.block-content ul, .block-content ol {
  padding-left: calc(var(--gap) + 1.5rem);
}
.block-content .alignfull {
  max-width: none;
}

table {
  min-width: 100%;
}
table td, table th {
  padding: 0.375rem 0.625rem;
}

.form-grid {
  display: grid;
  gap: calc(var(--gap));
}
@media screen and (min-width: 700px) {
  .form-grid--col2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 700px) {
  .form-grid--col3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .form-grid--col4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .form-grid--col4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.form-grid__full {
  grid-column: 1/-1;
}
.form-grid__btn-wrap {
  justify-self: end;
  align-self: end;
}
.form-grid input, .form-grid textarea {
  margin-bottom: 0;
}

.home-banner {
  background: #c39c7f;
  transition: 0.5s margin;
}
@media screen and (min-width: 700px) {
  .home-banner--hide {
    margin-bottom: -31.25rem;
  }
}
@media screen and (max-width: 699px) {
  .home-banner--hide {
    margin-bottom: -31.25rem;
  }
}
.home-banner__item {
  position: relative;
  display: flex !important;
  z-index: 1;
}
@media screen and (min-width: 700px) {
  .home-banner__item {
    height: 43.75rem;
  }
}
@media screen and (max-width: 699px) {
  .home-banner__item {
    height: 100vh;
    min-height: 30rem;
    max-height: 50rem;
  }
}
.home-banner__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.home-banner__inner {
  display: grid;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .home-banner__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 2.5rem;
  }
}
@media screen and (max-width: 699px) {
  .home-banner__inner {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 2.5rem;
  }
}
.home-banner .container {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .home-banner__text {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 2.25rem;
  }
  .home-banner__text--top-right {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .home-banner__text--top-left {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .home-banner__text--bottom-left {
    grid-column: 1/2;
  }
}
@media screen and (max-width: 699px) {
  .home-banner__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-row: 2/3;
    font-size: 1.5rem;
  }
  .home-banner__text--top-right {
    justify-content: flex-start;
    grid-row: 1/2;
  }
  .home-banner__text--top-left {
    justify-content: flex-start;
    grid-row: 1/2;
  }
  .home-banner__text--bottom-left {
    grid-row: 2/3;
  }
}

.home-catalog {
  position: relative;
  background-color: #fff;
  z-index: 4;
}
.home-catalog__inner {
  position: relative;
  margin-bottom: 2rem;
}
.home-catalog__close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 100%);
  border: none;
  padding: 0.5rem 0.625rem;
  cursor: pointer;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: 0.4s transform;
  font-size: 0.875rem;
}
.home-catalog__close--active {
  transform: scaleY(1);
}
.home-catalog__close:focus-visible, .home-catalog__close:hover {
  color: var(--main-accent);
  outline: none;
}
.home-catalog__tab-names {
  position: relative;
  display: flex;
}
.home-catalog__tab-names::after {
  content: "";
  position: absolute;
  height: 0.0625rem;
  width: 100vw;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #e9e9e9;
}
.home-catalog__tab-name {
  flex: 1;
  background-color: transparent;
  border: none;
  padding: 0.6875rem 0.75rem;
  cursor: pointer;
  color: #8d8d8d;
  transition: 0.2s color;
}
.home-catalog__tab-name:hover, .home-catalog__tab-name--active, .home-catalog__tab-name:focus-visible {
  color: var(--main-accent);
}
.home-catalog__tab-name:focus-visible {
  outline: 0.0625rem solid #e9e9e9;
}
.home-catalog__tab-name:not(:last-child) {
  border-right: 0.0625rem solid #e9e9e9;
}
.home-catalog__tabs {
  position: relative;
  transition: 0.5s padding;
}
.home-catalog__tab {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: scaleY(0);
  transform-origin: 50% 0;
  opacity: 0;
}
.home-catalog__tab--active {
  transition: 0.5s transform;
  transform: scaleY(1);
  opacity: 1;
}
.home-catalog__tab--static {
  position: relative;
  transform: scaleY(1);
  opacity: 1;
}
@media screen and (min-width: 700px) {
  .home-catalog__tab {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 699px) {
  .home-catalog__tab {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 700px) {
  .home-catalog__tab--col4m {
    grid-template-columns: repeat(4, 1fr);
  }
  .home-catalog__tab--col4m .home-catalog__tab-item, .home-catalog__tab--col4m .home-catalog__tab-category--link {
    border-right: 0.0625rem solid #e9e9e9;
  }
  .home-catalog__tab--col4m .home-catalog__tab-item:nth-of-type(4n + 4), .home-catalog__tab--col4m .home-catalog__tab-category--link:nth-of-type(4n + 4) {
    border-right: none;
  }
}
.home-catalog__tab-section {
  display: contents;
}
.home-catalog__tab-category {
  --cat-color: #14518a;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
  padding: 1.5625rem;
  border-bottom: 0.0625rem solid #e9e9e9;
  text-transform: uppercase;
  color: var(--cat-color);
}
.home-catalog__tab-category--link {
  grid-column: span 1;
}
@media screen and (min-width: 700px) {
  .home-catalog__tab-category--link:not(:nth-of-type(3n + 3)) {
    border-right: 0.0625rem solid #e9e9e9;
  }
}
@media screen and (max-width: 699px) {
  .home-catalog__tab-category--link:not(:nth-of-type(2n + 2)) {
    border-right: 0.0625rem solid #e9e9e9;
  }
}
@media screen and (max-width: 699px) {
  .home-catalog__tab-category {
    padding: 1.5rem 0.5rem;
    font-size: 0.6875rem;
  }
}
.home-catalog__tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cat-color);
  border-radius: 50%;
  margin-right: 0.625rem;
  padding: 0.5rem;
  flex: 0 0 3rem;
  height: 3rem;
  overflow: hidden;
}
@media screen and (max-width: 699px) {
  .home-catalog__tab-icon {
    flex: 0 0 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
}
.home-catalog__tab-icon img {
  width: auto;
  height: auto;
}
.home-catalog__tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.0625rem solid #e9e9e9;
  text-decoration: none;
  text-align: center;
  transition: 0.2s border;
  color: var(--main-accent);
}
.home-catalog__tab-item:hover, .home-catalog__tab-item:focus-visible {
  border-bottom-color: var(--main-accent);
  outline: none;
}
@media screen and (min-width: 700px) {
  .home-catalog__tab-item:not(:nth-of-type(3n + 3)) {
    border-right: 0.0625rem solid #e9e9e9;
  }
}
@media screen and (max-width: 699px) {
  .home-catalog__tab-item:not(:nth-of-type(2n + 2)) {
    border-right: 0.0625rem solid #e9e9e9;
  }
}
.home-catalog__tab-item-img {
  margin-top: 1rem;
  height: 10rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 699px) {
  .home-catalog__tab-item-img {
    height: 8.75rem;
  }
}
.home-catalog__tab-item-name {
  padding: 0.625rem 0.625rem;
}

.home-links__inner {
  display: grid;
  gap: 2rem 5%;
  margin-bottom: 2rem;
}
@media screen and (min-width: 350px) {
  .home-links__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
.home-links__item {
  position: relative;
  padding-top: 100%;
  z-index: 1;
}
.home-links__item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s opacity;
  z-index: -1;
}
.home-links__item-link {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffff;
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  .home-links__item-link {
    font-size: 2.5rem;
  }
}
.home-links__item-link:focus-visible {
  outline: none;
}
.home-links__item-link:focus-visible + .home-links__item-img, .home-links__item-link:hover + .home-links__item-img {
  opacity: 0.7;
}

.home-hit__slider-item {
  position: relative;
  z-index: 1;
  color: #ffffff;
  background-color: #333;
}
@media screen and (min-width: 700px) {
  .home-hit__slider-item {
    height: 31.25rem;
  }
}
@media screen and (max-width: 699px) {
  .home-hit__slider-item {
    height: 31.25rem;
  }
}
.home-hit__slider-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.home-hit__slider-container {
  display: grid;
  height: 100%;
}
@media screen and (min-width: 700px) {
  .home-hit__slider-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 699px) {
  .home-hit__slider-container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (min-width: 300px) {
  .home-hit__slider-info {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 1.125rem;
  }
}
.home-hit__slider-link {
  display: block;
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  .home-hit__slider-link {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
}
.home-hit__slider-link:hover, .home-hit__slider-link:focus-visible {
  color: #c0d9f0;
}
.home-hit__slider-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.home-hit__slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
.home-hit__title {
  font-size: 1.875rem;
  position: absolute;
  z-index: 4;
  color: #ffffff;
}

.heading {
  margin-bottom: 2rem;
  padding-top: 1.5rem;
}
.heading--banner {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .heading--banner {
    min-height: 37.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .heading--banner {
    min-height: 30rem;
    height: 100vh;
  }
}
.heading--banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}
.heading--banner h1 {
  color: #ffffff;
}
.heading__banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.breadcrumb {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  z-index: 1;
  margin: 1rem 0;
  padding: 1rem 0;
}
.breadcrumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 100vw;
  height: 100%;
  background-color: #f5f5f5;
}
.breadcrumb li {
  position: relative;
  overflow: hidden;
}
.breadcrumb li:not(:last-child) {
  padding-right: 1.25rem;
}
.breadcrumb li:not(:last-child)::before {
  content: "";
  position: absolute;
  right: 0;
  background-image: var(--shevron-menu-right);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.375rem auto;
  width: 1.25rem;
  height: 100%;
}
@media screen and (max-width: 699px) {
  .breadcrumb li {
    margin: 0.25rem 0;
  }
}

.product__inner {
  display: grid;
  grid-auto-flow: dense;
  grid-template-rows: auto 1fr;
}
@media screen and (min-width: 1300px) {
  .product__inner {
    grid-template-columns: 25rem 1fr;
    gap: 2rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1299px) {
  .product__inner {
    grid-template-columns: 21.875rem 1fr;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 1023px) {
  .product__inner {
    grid-template-columns: 40% 1fr;
    gap: 1.5rem;
  }
}
@media screen and (max-width: 699px) {
  .product__inner {
    grid-template-columns: 100%;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 700px) {
  .product__title {
    grid-column: 2/3;
  }
}
@media screen and (min-width: 700px) {
  .product__descr {
    grid-column: 2/3;
  }
}
@media screen and (min-width: 700px) {
  .product__gallery {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
@media screen and (min-width: 700px) {
  .product__content {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 699px) {
  .product__content {
    grid-row: -1/-2;
  }
}
.product .slick-arrow {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.4s background;
}
.product .slick-arrow:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
@media screen and (max-width: 699px) {
  .product .slick-arrow {
    bottom: 3rem;
    top: auto;
  }
}
.product ul {
  padding-left: 1.5rem;
}

.gallery-main {
  margin-bottom: 1.5rem;
}
.gallery-main__item {
  position: relative;
  display: block !important;
}
.gallery-main__item::before {
  content: "";
  display: block;
  padding-top: 120%;
}
.gallery-main__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-nav .slick-slide {
  padding: 0 0.5rem;
}

.search-result__form {
  display: flex;
  width: 100%;
}
.search-result__searchinput {
  flex: 1;
  display: flex;
  align-items: center;
  border: 0.0625rem solid #626365;
  border-right: none;
  padding: 0.5rem 0.625rem;
}
.search-result__submit {
  flex: 0 0 6.25rem;
  border: 0.0625rem solid #626365;
  background-color: #626365;
  padding: 0.5rem 0.625rem;
  text-align: center;
  color: #ffffff;
  transition: 0.4s background;
  cursor: pointer;
}
.search-result__submit:hover {
  background-color: var(--main-accent);
}
.search-result__text {
  margin: 1rem 0 1.5rem;
  text-align: center;
}

.nocollapse-list__inner {
  display: grid;
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .nocollapse-list__inner {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 700px) and (max-width: 1023px) {
  .nocollapse-list__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 699px) {
  .nocollapse-list__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
.nocollapse-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.0625rem solid #e0e0e0;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: 0.4s border;
}
.nocollapse-list__item:hover, .nocollapse-list__item:focus-visible {
  border-color: var(--main-accent);
}
.nocollapse-list__item-img {
  margin-bottom: 0.75rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 700px) {
  .nocollapse-list__item-img {
    height: 8.75rem;
  }
}
@media screen and (max-width: 699px) {
  .nocollapse-list__item-img {
    height: 7.5rem;
  }
}

.pagination {
  text-align: center;
  font-size: 0rem;
}
.pagination__list {
  margin: 1.5rem 0;
}
.pagination__item {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border: 0.0625rem solid #e0e0e0;
  margin-left: -0.0625rem;
  transition: 0.4s border;
  text-decoration: none;
}
.pagination__item:hover, .pagination__item:focus-visible {
  border-color: var(--main-accent);
  z-index: 2;
}
.pagination__item--current {
  border-color: var(--main-accent);
  background-color: var(--main-accent);
  color: #ffffff;
  z-index: 0 !important;
}

.page404 {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: var(--gap);
}
.page404__content {
  max-width: 25rem;
  text-align: center;
}
.page404__img {
  display: flex;
  justify-content: center;
  margin: 0 auto 1.5rem;
}
.page404__title {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: normal;
}
.page404__text {
  margin: 1.5rem 0;
  font-size: 0.875rem;
  color: #666;
}